body, html, *{
    padding:0;
    margin:0;
    background-color:#1ABDFF;
    text-align: center;
}

.body__splash{
    width:100%;
}

.body__house{
    width:100%;
    max-width:400px;
    margin-top:0;
}

.body__footer{
    text-align:center;
    padding-bottom:5%;
}
.body__footer img{
    width:100%;
    max-width:64px;
}

.pull-left, .pull-right{
    width: 100%;
    max-width: 250px;
    position:absolute;
	margin-bottom:1%;
   
}
.pull-right{
    right:10px;
}
#logo{
	margin-top:-4%;
}
.pull-left{
    left:10px;
}

@media screen and (max-width:768px){
    .pull-left, .pull-right{
        position:relative;
        margin-top:auto;
    }
}